<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <%- include("components/navbar") %>
    <main class="container mx-auto p-10">
      <div class="text-center w-full p-4">
        <h1 class="text-5xl font-bold">Upload Images</h1>
      </div>
      <div class="w-full flex p-4">
        <form
          method="POST"
          action="/upload"
          enctype="multipart/form-data"
          class="w-full grid place-center"
        >
          <input
            type="file"
            id="image_input"
            name="images"
            accept="image/*"
            multiple
            class="file-input file-input-bordered w-1/2 mx-auto my-2"
            required
          />
          <input
            type="submit"
            value="Convert Images"
            class="btn btn-primary w-1/2 mx-auto my-2"
          />
          <div class="divider">Additional Options</div>
          <div class="flex flex-wrap w-full space-x-4 items-center">
            <label for="file_type"
              >File Output
              <select
                class="select select-bordered w-full max-w-xs"
                id="file_type"
                name="file_type"
                required
              >
                <option disabled>Choose One</option>
                <option value="jpeg">JPEG</option>
                <option value="png">PNG</option>
                <option value="gif">GIF</option>
                <option value="webp">WEBP</option>
              </select>
            </label>
            <label for="crop_type"
              >Crop Type
              <select
                class="select select-bordered w-full max-w-xs"
                id="crop_type"
                required
              >
                <option disabled>Choose One</option>
                <option value="cover">Cover</option>
                <option value="contain">Contain</option>
                <option value="inside">Inside</option>
                <option value="outside">Outside</option>
              </select>
            </label>
            <label for="width"
              >Width<input
                type="number"
                placeholder="Enter Width"
                class="input input-bordered w-full max-w-xs"
                id="width"
            /></label>
            <label for="height"
              >Height<input
                type="number"
                placeholder="Enter Height"
                class="input input-bordered w-full max-w-xs"
                id="height"
            /></label>
            <div class="form-control w-max">
              <label class="label cursor-pointer space-x-2">
                <span class="label-text">Include Original Metadata?</span>
                <input
                  type="checkbox"
                  checked="checked"
                  class="checkbox"
                  name="original_metadata"
                  id="org-metadata"
                />
              </label>
            </div>
          </div>
        </form>
      </div>
      <button id="clear_all_button" class="btn btn-outline btn-secondary m-4">
        Clear All Images
      </button>
      <div
        id="display_selected_image"
        class="w-full p-4 border-slate-400 border h-[45vh] flex overflow-scroll gap-2"
      ></div>
    </main>
    <script src="javascript/script.js"></script>
  </body>
</html>
