<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Upload</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Upload Images</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
      <input
        type="file"
        id="image_input"
        name="images"
        accept="image/*"
        multiple
      />
      <input type="submit" value="Upload" />
    </form>
    <div id="display_selected_image"></div>
    <script src="/script.js"></script>
  </body>
</html>
